#map {
  width: 100vw;
  height: 100vh;
}
.list-group {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #fff;
}
.list-group-item {
  border: 0px;
  border-left: 16px solid;
}
button {
  position: fixed;
  bottom: 30px;
  right: 20px;
}
